.calculator{
  background-color: #dddddd;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
  width: 300px;
}

#display{
  margin: 10px;
  width: 90%;
  font-size: 40px
}

.btn-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button{
  width: 70px;
  height: 70px;
  margin: 5px;
}